.divContent{
  /* text-align:center; */
  width:340px;
  margin: auto;
  padding:50px 0px;
}

.inputForm{
  width:100%;
  padding:24px 0px;
}

.inputTitle{
  display:block;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 10px;
}

.inputContent{
  width: -webkit-fill-available;
  height: 48px;
  border-radius: 4px;
    border: 1px solid #ddd;
    font-weight: 400;
    font-size: 16px;
    padding-left: 10px
}
.inputCdCnt{
  width: 72%;
  height: 48px;
  border-radius: 4px;
    border: 1px solid #ddd;
    font-weight: 400;
    font-size: 16px;
    padding-left: 10px
}
.reSendBtn{
  position: absolute;
  right: 0;
  width: 25%;
  height: 48px;
  border-radius: 4px;
    border: 1px solid #ddd;
    font-weight: 400;
    font-size: 16px;
    padding: 0px 10px;
    margin-left: 3%;
    background-color: white;

}
.findTitle{
  text-align: center;
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 28px;
  color:#333333;
}
.findBtn{
  width:170px;
  height: 48px;
    font-weight: 600;
    font-size: 16px;
    color:#666;
    border:none;
    background-color: white;
    border-bottom: 2px solid rgb(241, 241, 241);
}

.submitBtnDis{
  width: -webkit-fill-available;
  height: 48px;
  border-radius: 4px;
    border: 1px solid #ddd;
    font-weight: 400;
    font-size: 16px;
    color:white;
    background-color: #ddd;
}

.required{
  color:#F03F40;
  font-size: 13px;
  margin-top:5px;
}

.clickFocus{
  color: rgb(95, 0, 128);
  border-bottom: 2px solid rgb(95, 0, 128);
}

.inputContent:focus{
  outline: 1px solid #666;
}

.hidden{
  display:none;
}

.divInput{
  height:110px;
  margin-bottom: 10px;
}

.submitBtn{
  width: -webkit-fill-available;
  height: 48px;
  border-radius: 4px;
    border: 1px solid #ddd;
    font-weight: 400;
    font-size: 16px;
    color:white;
    background-color: #5F0080;
}

.delBtn{
  background:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGNpcmNsZSBmaWxsPSIjOTk5IiBvcGFjaXR5PSIuNSIgY3g9IjgiIGN5PSI4IiByPSI4Ii8+CiAgICAgICAgPGcgc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS13aWR0aD0iMS41Ij4KICAgICAgICAgICAgPHBhdGggZD0ibTEwLjg5NyAxMC43ODYtNS43Ny01Ljc2OU01LjEyMiAxMC43ODVsNS43NzUtNS43NzUiLz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=')0% 0% / 16px 16px no-repeat transparent;
  position: absolute;
    top: 35%;
    /* transform: translateY(-50%); */
    right: 12px;
    height: 16px;
    width: 16px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
.relDiv{
  position: relative;
}

.delBtnNone{
  display: none;
}

.timer{
  position:absolute;
  right :105px;
  top:13px;
  color:#F03F40;
}