.mailIcn{
  background:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTQiIGhlaWdodD0iNTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxjaXJjbGUgZmlsbD0iIzhENENDNCIgY3g9IjI3IiBjeT0iMjciIHI9IjI3Ii8+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTQgMTcuNSkiIHN0cm9rZT0iI0ZGRiIgc3Ryb2tlLXdpZHRoPSIyIj4KICAgICAgICAgICAgPHJlY3QgeD0iMSIgeT0iMSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjE3IiByeD0iMyIvPgogICAgICAgICAgICA8cGF0aCBkPSJNMy4yMi45NjRBMi4xNTIgMi4xNTIgMCAwIDAgLjk3MyAzLjAyMnYuM2EyLjUgMi41IDAgMCAwIDEuMDkyIDIuMDY2bDguMTIgNS41MzZhNSA1IDAgMCAwIDUuNjMxIDBsOC4xMjQtNS41MzZhMi41IDIuNSAwIDAgMCAxLjA5My0yLjA2NnYtLjNjMC0uOTI0LS44MjMtMi4wNTgtMi4xNzEtMi4wNThIMy4yMnoiLz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=) 50% 50% no-repeat ;
    display: block;
    width: 54px;
    height: 54px;  
    content:"";
    margin-left:auto;
  margin-right: auto;



}
.mid{
  text-align: center;
  padding:60px 30px;
  margin: 30px 0px;
  
}
.toptxt{
  color:#333333;
  font-weight: 700;
  font-size: 17px;
  margin:20px 0px;
}
.font{
  color:#5F0080;
}

.bottomtxt{
  font-size: 14px;
  color:#999999;
}