/* div,a,p {
    background-color: turquoise;
    border: 1px solid;
} */
html, body{
  font-family: 'Noto Sans', sans-serif;
}


body{
  width: auto;
  min-width: fit-content;
}

a {
  text-decoration: none;
  color:black;
  cursor:pointer;
}

li{
  display:inline;
}

