.page {
  position: relative;
  min-width: 1050px;
}
.container {
  display: flex;
  width: 1050px;
  padding: 50px 0px 80px;
  margin: 0px auto;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.content {
  padding-top: 20px;
  position: relative;
  height: 100%;
}
.contentbox {
  width: 820px;
}
.content_header {
  display: flex;
  flex-direction: row;
  height: 75px;
  width: 100%;
  padding-bottom: 27px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.title {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}
.title h2 {
  font-weight: 600;
  font-size: 24px;
  color: rgb(51, 51, 51);
  letter-spacing: -0.5px;
  line-height: 48px;
}
.title span {
  padding-left: 11px;
  font-size: 14px;
  letter-spacing: -0.3px;
  color: rgb(153, 153, 153);
  line-height: 20px;
}
.date {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.date::after {
  display: inline-block;
  vertical-align: 0.255em;
  margin-right: 20px;
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.dropbox {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 157px;
  height: 48px;
  background-color: white;
}
.dropbox_active {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 157px;
  height: 240px;
  background-color: white;
}
.dropbox div,
.dropbox_active div {
  width: 157px;
  height: 48px;
  z-index: 2;
  padding-left: 14px;
  display: flex;
  align-content: center;
  align-items: center;
  font-weight: 600;
}
.dropbox div:hover,
.dropbox_active div:hover {
  cursor: pointer;
  background-color: rgb(242, 242, 242) !important;
}
.dropbox :last-child,
.dropbox_active :last-child {
  border-bottom: 1px solid rgb(232, 222, 222);
}
.tab_btn {
  height: 48px !important;
  border: 1px solid rgb(232, 222, 222);
}
.drop_btn {
  display: none !important;
}
.active {
  border: 1px solid rgb(232, 222, 222);
  border-top: 0;
  border-bottom: 0;
}
.clicked {
  color: purple;
  font-weight: 700;
}
.outline {
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  cursor: text;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  font-size: 14px;
  height: 44px;
  border-color: rgb(221, 221, 221);
  border-radius: 0px;
}
.line {
  display: flex;
  flex-direction: row;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  border-bottom: 2px solid rgb(51, 51, 51);
}

.warning {
  height: 540px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.warning div {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}
.warning p {
  margin: 8px 0px 24px;
  font-size: 16px;
  color: rgb(181, 181, 181);
  text-align: center;
}
.warning p::before {
  display: block;
  margin: 0px auto 8px;
  width: 68px;
  height: 68px;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjgiIGhlaWdodD0iNjgiIHZpZXdCb3g9IjAgMCA2OCA2OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEyIDEwKSIgc3Ryb2tlPSIjRTJFMkUyIiBzdHJva2Utd2lkdGg9IjIiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIj4KICAgICAgICA8cGF0aCBkPSJNMjEuNDQ4IDQ3SDIuODJBMi44MiAyLjgyIDAgMCAxIDAgNDQuMThWMi44MkEyLjgyIDIuODIgMCAwIDEgMi44MiAwaDMyLjM2QTIuODIgMi44MiAwIDAgMSAzOCAyLjgydjE5LjE2aDBNMTAgMTFoMThNMTAgMTloMThNMTAgMjdoMTEiLz4KICAgICAgICA8Y2lyY2xlIGN4PSIzNCIgY3k9IjM3IiByPSIxMCIvPgogICAgICAgIDxwYXRoIGQ9Im00NyA1MC01LTUiLz4KICAgIDwvZz4KPC9zdmc+Cg==)
    0px 0px no-repeat;
  content: '';
}
.warning button {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 150px;
  height: 44px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  background-color: rgb(95, 0, 128);
  border: 0px none;
}
.warning button > span {
  font-size: 14px;
}
